## Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
## and revert to the base sysfs type.
allow init sysfs:file write;

allow init debugfs:dir mounton;
allow init logd:dir { getattr };
allow init logd:dir { read open };

allow init sysfs_firmware_writable:file w_file_perms;

allow init sysfs_devices_tegradc:lnk_file { read };

allow init debugfs:file w_file_perms;
allow init tmpfs:lnk_file create_file_perms;

# Allow mounting /per
allow init oemfs:dir mounton;
