allow mediacodec sysfs_module_fuse:file r_file_perms;
allow mediacodec sysfs_module_nvhost:file r_file_perms;
allow mediacodec system_file:file execmod;

allow mediacodec debugfs:file w_file_perms;
