allow priv_app device:dir r_file_perms;

# allow priv_app debugfs:file { write rw_file_perms };

allow priv_app sysfs_module_fuse:file { open read };

allow priv_app zygote:dir search;
allow priv_app zygote:file { open read };

allow priv_app cache_private_backup_file:dir getattr;


