allow system_app knv_device:chr_file rw_file_perms;
# allow system_app dalvikcache_data_file:file w_file_perms;
allow system_app sysfs_lowmemorykiller:dir { search };

allow system_app radio_data_file:dir { getattr };
allow system_app sysfs_module_fuse:file { open read };
allow system_app self:process ptrace;
